name: Build Static Metamodel Generator

on:
  push:
  pull_request:


jobs:
  build:
    name: Maven Build JDK ${{ matrix.java }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java: [ '11' ]
        include:
          - java: 11
            extraargs: >
              jacoco:report
#              sonar:sonar
#              -Dsonar.host.url=https://sonarcloud.io
#              -Dsonar.organization=guhilling
#              -Dsonar.projectKey=guhilling_java-metamodel-generator
    env:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}


    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - name: Set up JDK 
      uses: actions/setup-java@v5
      with:
        distribution: temurin
        java-version: ${{ matrix.java }}
        cache: maven
    - name: Maven Build JDK ${{ matrix.java }}
      run: mvn -B package --file pom.xml -DskipTests
    - name: Maven Test JDK ${{ matrix.java }}
      run: mvn -B test --file pom.xml ${{ matrix.extraargs }}
